body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    text-align: center;
    background: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
}

.hidden {
    display: none;
}

#stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#problem {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

button {
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: #333;
    color: #ffffff;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #444;
}

#options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}

.option-btn {
    padding: 1.5rem;
    font-size: 1.5rem;
}
#feedback-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15rem;
    z-index: 10;
}

#feedback-indicator.correct {
    color: #4CAF50;
}

#feedback-indicator.incorrect {
    color: #f44336;
}
#start-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}

#start-btn:hover {
    background-color: #45a049;
}

.main-icon {
    width: 100px;
    margin-bottom: 1rem;
}

#game-setup button {
    display: block;
    width: 60%;
    margin: 1.5rem auto;
}

#player-name {
    width: 80%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #ffffff;
    font-size: 1rem;
}

#leaderboard-btn {
    background-color: #008CBA; /* Blue */
}

#leaderboard-btn:hover {
    background-color: #007B9A;
}

#leaderboard {
    text-align: center;
}

#leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem auto
}

#leaderboard-table th,
#leaderboard-table td {
    padding: 0.75rem;
    border-bottom: 1px solid #444;
}

#leaderboard-table th {
    text-align: left;
    background-color: #333;
}

#back-to-menu {
    margin-top: 1rem;
    background-color: #f44336; /* Red */
}

#back-to-menu:hover {
    background-color: #da190b;
}

#loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #20a4c2;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}